<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <title>{{ user.name }}'s watchlist</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}" >
        <link rel="icon" href="{{ url_for('static', filename='imgs/favicon.ico') }}">
        {% endblock %}
    </head>
    <body>
    <h2>
        <img class="avatar" src="{{ url_for('static', filename='imgs/header.png') }}">
        {{ user.name }}'s watchlist
    </h2>
    <nav>
        <ul>
            <li><a href="{{ url_for('index')}}">hone</a></li>
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
    <footer>
        <small>&copy; 2023 <a href="http://wlb.plus/">wlb.plus</link>
    </footer>
    </body>
</html>
