<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet" type="text/css"> -->
        <link href="static/css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <h1>
            <img id='chair' src="static/img/chair.png" alt="">
            {{ name }}'s movies
        </h1>
        <ul>
            {{ movies|length }} titles
            {% for movie in movies %}
            <li>
                {{ movie.title}} - {{movie.year}}
            </li>
            {%endfor%}
        </ul>
        <div>
            <img id='soft' src="static/img/soft.png" alt="">
        </div>
    </body>
</html>
